.feed_selector_item{
  width:100%;
  height:50px;
  
  background-color: #34c;
  
  margin-top:5px;
} 

.feed_selector_item_image{
  display: inline-block;
  width: 25%;
  height: 40px;

  padding: 5px;
  padding-left:15px;
}

.feed_selector_item_image img{
	width: 40px;
  height: 40px;
}

.feed_selector_item_text{
	display: inline-block;
}

.feed_selector_item_text p{
	font-size: 20px;
  font-weight:bolder;
}

.feed_selector_item_selected{

} 

.feed_selector_item_global{

}