.container_header{
	width: 100%;
	z-index: 1;
	position: fixed;
}

.header{
	width: 100%;
	background-color: #032F50;
	padding: 30px 0px 20px 0px;
}

.tagContainer{
	display: flex;
  	flex-direction: row;
  	justify-content: space-between;
  	margin-right: 30px;
  	margin-left: 30px;
}

.tagline{
	font-size: 1.2em;
	margin: 0px 20px 0px 20px;
}

.tagButton{
	font-family: myfontBold;
	letter-spacing: 0.2em;
	padding: 8px 30px 8px 30px;
	border: 1px solid #fff;
	border-radius: 40px;
	background-color: none;
	margin: 10px 20px 10px 20px;
}

.tagButton:hover{
	background-color: #fff;
	color: #032F50;
	
}


.superContainer{
	
	border-radius: 120px;
	height: 200px;
	width: 200px;

	margin: 0 auto;
	margin-top: -100px;
}

.superHero{
	
	height: 200px;
	width: auto;

}

.pageTitle{
font-family: 'myfontHeavy';
font-size: 4em;
color: #ED553B;
text-align: center;
margin: 0 auto;
padding: 20px;
}

a:link, a:visited {
  text-decoration: none;
  color: #fff;
}


@media only screen and (max-width: 500px) {
	.superContainer{
		margin-top: -30px;
	}

  
}