.feed_selector_item{
  width:100%;
  background-color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  

} 

.feed_selector_item_image{
  
  width: auto;
  height: 40px;
  padding-left: 15px;
}

.feed_selector_item_image img{
	width: 40px;
  height: 40px;
}


.feed_selector_item_text {
	font-size: 16px;
  font-family: 'myfontBold';
  line-height: 2.1;
  margin-left: 20px;

}

.feed_selector_item_selected{
  background-color: #e9e9e9;
} 

.feed_selector_item_global{

}

.reaction{
  margin-right: 20px;
  padding-top: 15px;
}

.reaction_selected > svg{
  fill: red;
}

.reaction_comment{
   margin-left: 40px;
  padding-top: 15px;
}

.reaction_comment span{
  margin-right: 10px
}

.reaction_score{
  margin-right: 20px;
  padding-top: 15px;
}