<div class="card-feed">
	<div class="feed_community_details display-flex">
		<div class="community_image"><img class="feed_item_community_img"></div>
		<div class="display-flex post_details">
			<div class="post_community"></div>
			<div>By <div class="post_user"></div></div>
			<div>Created on <div class="post_date"></div></div>
		</div>
	</div>
	<div class="post_feed display-flex">
		<div class="post_image"></div>
		<div class="margin-l-10 post_feed_container">
			<div class="title_name">
			Title
			</div>
			<p class="post_content">Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.</p>
		</div>
	</div>
</div>