<div class="card-feed">
	<div class="feed_community_details display-flex">
		<div class="community_image"><img class="feed_item_community_img"></div>
		<div class="display-flex post_details">
			<div class="post_community"></div>
			<div>By <div class="post_user"></div></div>
			<div class="post_remove"></div>
			<!--<div>Created on <div class="post_date"></div></div>-->
		</div>
	</div>
	<div class="post_feed display-flex">
		<div class="post_image"></div>
		<div class="margin-l-10 post_feed_container">
			<div class="title_name">
			</div>
			<p class="post_content"></p>
		</div>
	</div>
	<div class="post_reaction_info display-flex">
		<div class="reaction reaction_upvote display-flex reaction_selected">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" transform="rotate(-90)">
				<path d="M7.33 24l-2.83-2.829 9.339-9.175-9.339-9.167 2.83-2.829 12.17 11.996z"/></svg>			
		</div>

		<div class="reaction_score">
			<span>100</span>
		</div>

		
		<div class="reaction reaction_downvote">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" transform="rotate(90)">
				<path d="M7.33 24l-2.83-2.829 9.339-9.175-9.339-9.167 2.83-2.829 12.17 11.996z"/></svg>
			
		</div>

		<div class="reaction_comment display-flex">
			<span>100</span>
			<span>Comments</span>

		</div>

	</div>
	<div class="post_reaction"></div>
</div>